@{
  Layout = "_Layout";
}

@model Podcast.Models.Title

<h3>Add a Category to this Podcast: @Html.DisplayFor(model => model.PodcastName)</h3>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.HiddenFor(model => model.TitleId)

    @Html.Label("Select Category")
    @Html.DropDownList("CategoryId", null, new { @class = "form-control"})
    <br>
    <input type="submit" value="Save" class = "btn btn-dark"/>
  </div>
}

<p class = "btn btn-dark">@Html.ActionLink("Back to list", "Index")</p>
<p class = "btn btn-dark">@Html.ActionLink("Add a New Category", "Create", "Categories", "Create")</p>