@{
  Layout = "_Layout";
}

@model Podcast.Models.Title

<h3>Podcast Details: @Html.DisplayFor(model => model.PodcastName)</h3>
<hr>

<h5><em>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</em></h5>

<br>
@if (@Model.JoinEntities.Count == 0)
{
  <p>This podcast does not belong to any categories</p>
}
else
{
  <h4>Categories this Podcast belongs to:</h4>

  @foreach(var join in Model.JoinEntities)
  {
    <div class="card text-center bg-light border-dark mb-3" style="width: 24rem;">
      <div class="card-body">

      <h5 class="card-title">@join.Category.Name</h5>

      @using (Html.BeginForm("DeleteCategory", "Titles"))
      {
        @Html.Hidden("joinId", @join.CategoryTitleId)
        <input type="submit" value="Delete" class="btn btn-dark"/>
      }
      </div>
    </div>
  }
}

<p class="btn btn-dark">@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.TitleId })</p>

<p class="btn btn-dark">@Html.ActionLink("Back to List", "Index")</p>
<p class="btn btn-dark">@Html.ActionLink("Edit Podcast", "Edit", new { id = Model.TitleId })</p>
<p class="btn btn-dark">@Html.ActionLink("Delete Podcast", "Delete", new { id = Model.TitleId })</p>