@{
  Layout = "_Layout";
}

@model Podcast.Models.Title

<h3>Edit this Podcast: @Html.DisplayFor(model => model.PodcastName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TitleId)
  <div class="form-group">
    @Html.LabelFor(model => model.PodcastName)
    @Html.EditorFor(model => model.PodcastName,  new { htmlAttributes = new { @class = "form-control", @required = "required" } })

    @Html.Label("Select Category")
    @Html.DropDownList("CategoryId", null, new { @class = "form-control" })

    <input type="submit" value="Save" class="btn btn-light"/>
  </div>
}

<p class="btn btn-light">@Html.ActionLink("Back to List", "Index")</p>